* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;

  
}


body {
  background: #222;
  font-family: Arial, sans-serif;
  background-image: url("fishImages/wallpaper2.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;


  width: 100%;
    height: 100vh;
}


.main-fishing-container {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  gap: 200px;
  position: relative;
  margin-left: 100px;
}

/* Styles for fishing container */
.fishing-container {
  flex: 1;
  background: linear-gradient(
    to right,
    rgba(135, 206, 235, 0.3),
    rgba(15, 72, 5, 0.4)
  ); 
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.fishing-container h1 {
  color: #f0f2f2;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.logo-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.logo-img {
  width: 80px;
  border-radius: 10px;
}

.outlined-text {
  font-size: 2.5em;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}


.input-section {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input,
select,
button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  background: #0f8d04;
  color: rgb(249, 248, 248);
  font-size: x-large;
  cursor: pointer;
  border-radius: 20px;
}

.fishing-container button:hover {
  background: #005bb5;
}

.delete-all {
  background: red;
}


ul {
  list-style: none;
  padding-bottom: 20px;
  padding-top: 20px;
}

li {
  background: #f9f9f9;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trip-info {
  display: flex;
  align-items: center;
  gap:30px;
  font-size: 20px;
}

.fish-icon {
  width: 150px;
  height: 80px;
  border-radius: 5px;
  padding: auto;
  margin-left: 30px;
}

.delete-btn {
  background: rgb(233, 229, 229);
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 20px;
  border-color: black;
  border-width: 2px;
}

.fishing-container .delete-btn:hover {
  background: rgb(229, 8, 8);
}

#fishImageContainer {
  margin-top: 10px;
}

h2 {
  color: aliceblue;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#tripCount {
  font-size: 25px;
  font-family: Arial;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

p {
  font-size: 25px;
  font-family: Arial;
  font-weight: bold;
  color: #f0f2f2;
  margin-bottom: 15px;
  margin-top: -10px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Styles for weather container */



.main-container {
  position: relative;
  z-index: 1;
  width: 360px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  margin-right: 200px;
  height: 520px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  color: white;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.city-input {
  width: 100%;
  padding: 12px 45px 12px 15px;
  border-radius: 50px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  font-weight: 500;
  color: white;
  transition: border 0.3s ease-in-out;
}

.city-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.city-input:focus {
  border: 2px solid white;
}

.search-btn {
  position: absolute;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.search-btn .material-symbols-outlined {
  font-size: 24px;
  color: white;
}

.weather-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.location-date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  gap: 6px;
}

.weather-summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-summary-img {
  width: 150px;
  height: 150px;
}

.weather-summary-info {
  text-align: end;
}

.weather-condition-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.condition-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.condition-item span {
  font-size: 36px;
}

.forecast-items-container {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding-bottom: 10px;
  padding-top: 20px;
  overflow: auto;
}

.forecast-items-container::-webkit-scrollbar{
  height: 8px;
  padding-top: 20px;
}

.forecast-items-container::-webkit-scrollbar-trak{
  background: rgba(0, 0, 0, 0.1);
  border-radius: 99px;
}

.forecast-items-container::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, 0.15);
  border-radius: 99px;
}

.forecast-item {
  min-width: 70px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  transition: background 0.3s;
}

.forecast-item:hover {
  background: rgba(255, 255, 255, 0.2);
}

.forecast-item-img {
  width: 40px;
  height: 40px;
}

.section-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
  margin-top: 20px;
}

.section-message img {
  height: 160px;
}

@media (max-width: 400px) {
  .main-container {
      width: 90%;
      padding: 15px;
  }

  .weather-summary-img {
      width: 80px;
      height: 80px;
  }

  .forecast-item {
      min-width: 60px;
      padding: 8px;
  }
}

.country-txt{
  font-size: x-large;
}

.conditions-txt{
  font-size: x-large;
}

.temp-txt{
  font-size: x-large;
}