h1 {
    font-size:50px; 
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-style: outset;
    border-radius: 10px;
    border-width: 8px;
    border-color: black;
    width: 400px;
    background: greenyellow;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;   
    height: 50vh;
    margin: 0;
    background-image: url("image3.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 50px;
}



input {
    padding: 8px;
    border: 3px solid black;
    flex: 1;
     margin-top: 50px; 
    padding: 5px;
    border-color: black;
    border-width: 3px;
}

button {
    padding: 5px;
    border-radius: 5px;
    border: 3px solid green; 
    cursor: pointer;
    margin-left: 10px;
    border-width: 4px;
    display: inline-block;
    margin-top: 10px; 
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

button:hover {
    background-color: lightgreen;
    color: black;
}

li {
    font-size:17px;
    font-family: Arial;
    font-weight: bold;
}

.input-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

#taskCount{
    font-size:17px; 
    font-family: Arial;
    font-weight: bold;

}

p{
    font-size:17px; 
    font-family: Arial;
    font-weight: bold;
}

.counter{
    border-width: 1px;
    border-color: black;
}

#deleteButton  {
    background-color: rgb(223, 219, 219);
    margin-left: 100px;
    border-color: red;
    border-width: 3px;
    border-radius: 40px;  
}

#deleteButton:hover {
    background-color: red;
    color: white;
}





